.eg-tooltip-container {
  display: inline-block;
  position: relative;
  .eg-tooltip-wraper {
    visibility: hidden;
    position: absolute;
    min-width: 90px;
    z-index: 9001;
    margin: 5px 0;
    font-size: 13px;
    text-align: left;
    color: @tooltip-color;
    border:1px solid #ddd;
    .border-radius(3px);
    .eg-tooltip-content {
      text-align: center;
      padding: 5px;
      min-width: 90px;
      opacity: 0.8;
      fliter:~"alpha(opacity = 80)";
    }
    .eg-tooltip-arrow-bottom, .eg-tooltip-arrow-top, .eg-tooltip-arrow-left,.eg-tooltip-arrow-right {
      border-style: solid;
      position: absolute;
      height: 0;
      width: 0;
      line-height: 0;
      border-color: transparent;
    }
    .eg-tooltip-arrow-bottom{
      left: 50%;
      margin-left:-4px;
      top: -4px;
      border-width: 0 5px 5px;
    }
    .eg-tooltip-arrow-top {
      left: 50%;
      margin-left:-4px;
      bottom: -4px;
      border-width:5px 5px 0;
    }
    .eg-tooltip-arrow-left {
      right: -4px;
      top: 50%;
      margin-top:-4px;
      border-width: 5px 0 5px 5px;
    }
    .eg-tooltip-arrow-right{
      left: -9px;
      top: 50%;
      margin-top:-4px;
      border-width: 5px;
    }

  }
  .eg-tooltip-show{
    visibility: visible;
  }
  .eg-tooltip-hide{
    visibility: hidden;
  }

  .eg-tooltip-arrow-bottom, .eg-tooltip-arrow-top, .eg-tooltip-arrow-left,.eg-tooltip-arrow-right{
    .arrow-tip{
      display: inline-block;
      border-style: solid;
      position: absolute;
      height: 0;
      width: 0;
      line-height: 0;
      z-index: -10;
      border-color: transparent;
    }
  }
  .eg-tooltip-arrow-top .arrow-tip{
    left: -1px;
    margin-left: -4px;
    bottom: -1px;
    border-width: 5px 5px 0;
  }
  .eg-tooltip-arrow-bottom .arrow-tip{
    left: -1px;
    margin-left:-4px;
    top: -1px;
    border-width: 0 5px 5px;
  }

  .eg-tooltip-arrow-left .arrow-tip{
    right: -1px;
    top: -1px;
    margin-top:-4px;
    border-width: 5px 0 5px 5px;
  }

  .eg-tooltip-arrow-right .arrow-tip{
    right: -4px;
    top: -1px;
    margin-top:-4px;
    border-width: 5px;
  }
}

